* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth !important;
}


/* colors*/

.green {
    color: #a1bd74;
}

.grey-color {
    color: rgba(65, 60, 59, 0.3);
}

.grey-dark {
    color: rgba(65, 60, 59, 0.5);
}

.border-1 {
    border: 1px solid rgba(65, 60, 59, 0.5);
}

.border-grey-1 {
    border: 1px solid rgba(65, 60, 59, 0.5);
}

.font-large {
    font-size: 80px;
}

.font-normal-small {
    font-size: 40px;
}

.p-right {
    padding-right: 325px;
}


/* icon */

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?7v048j');
    src: url('../fonts/icomoon.eot?7v048j#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?7v048j') format('truetype'), url('../fonts/icomoon.woff?7v048j') format('woff'), url('../fonts/icomoon.svg?7v048j#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    /* speak: never; */
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-corner-icon:before {
    content: "\e903";
}

.icon-long-arrow-left:before {
    content: "\e901";
}

.icon-long-arrow-right:before {
    content: "\e902";
}

.icon-long-down-arrow:before {
    content: "\e900";
}


/* container */

.container {
    max-width: 1200px !important;
}

.container-fluid {
    width: 100% !important;
}

.font-1 {
    font-family: 'Cinzel', serif;
}

.font-2 {
    font-family: 'Montserrat', sans-serif;
}

.font-3 {
    font-family: 'Cormorant SC', serif;
}

.font-4 {
    font-family: 'Courier New', Courier, monospace;
}

.font-5-italic {
    font-family: italic;
}

.p-left {
    padding-left: 362px;
}

.inner-p {
    padding-right: 107px;
}

.circle-after {
    position: relative;
}

.circle-after::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #383533;
    top: 30%;
    border-radius: 50%;
    left: 0;
}

.circle-small {
    position: relative;
}

.circle-small::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #383533;
    top: 14%;
    border-radius: 50%;
    left: 0;
}

.learn-more {
    border: 1px solid #383533;
    padding: 15px 89px;
}

.top-line::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: #cdcdcd;
}

.cooma-class::before {
    content: '“';
    font-size: 120px;
    position: absolute;
    top: -25px;
    left: 0;
    font-family: 'Cinzel';
    font-weight: 400;
    font-size: 120px;
    line-height: 100%;
    color: #383533;
}

.cooma-class-two::before {
    content: '“';
    font-size: 120px;
    position: absolute;
    top: -25px;
    left: -25px;
    font-family: 'Cinzel';
    font-weight: 400;
    font-size: 120px;
    line-height: 100%;
    color: #ffffff;
}

.bottom-line::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: #cdcdcd;
}

.slick-prev,
.slick-next {
    position: absolute;
    bottom: 10px;
    left: 0px;
    z-index: 1;
    margin: 0 10px;
    font-size: 25px;
    text-align: center;
    color: black;
    border: 1px solid #383533;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.slick-prev {
    left: 10px;
    top: 85%;
}

.slick-next {
    left: 130px;
    top: 85%;
}

.accordion-header .icon-long-down-arrow {
    font-size: 40px;
    color: #383533;
}

.accordion-item.active {
    color: #a1bd74;
}

.accordion-item.active .accordion-header h1 {
    color: #a1bd74;
}

.accordion-item.active .accordion-header .icon-long-down-arrow {
    color: #a1bd74 !important;
}

.tab-button.active {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #383533;
}

.tabs::before,
.tabs::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: #cdcdcd;
}

.tabs::before {
    top: 0;
}

.tabs::after {
    bottom: 0;
}

.accordion {
    width: 100%;
}

.accordion-item {
    margin-bottom: 10px;
}

.top-footer {
    width: 100%;
}

.top-footer>div:nth-child(1) {
    width: 50%;
}

.top-footer>div:nth-child(2) {
    width: 30%;
}

.top-footer>div:nth-child(3) {
    width: 20%;
}

.img-boxe {
    width: 700px;
    height: 800px;
    margin: 0px 0px 0px auto;
}

.accord-head {
    font-size: 40px !important;
}

.accordion-header {
    padding-block: 10px;
}

.arrow {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}

.arrow.up {
    transform: rotate(180deg);
}

.accordion-content {
    padding: 15px 125px 15px 0px;
    display: none;
    width: 100%;
    transition: max-height 0.5s ease-in-out;
}

.accordion-item .accordion-content {
    transition: max-height 0.5s ease-in-out;
}

#accordion::before {
    content: "";
    position: absolute;
    height: 1px;
    background: #CDCDCD;
    bottom: 0;
    right: 0;
    left: 0;
}

.border-black {
    border: 1px solid black;
}

.slider-box {
    display: flex !important;
}

.my-green {
    position: relative;
}

.my-green::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 88px;
    background: #a1bd74;
    left: 5px;
    top: 3px;
}

.overlay-text {
    left: 63%;
}

.kaira-div {
    height: 660px;
}

.upper-content p:first-of-type {
    margin-bottom: 5px;
}

.fixed-background {
    height: 628px !important;
}

.small {
    width: 675px !important;
}

.slick-carousel button .slick-prev {
    position: absolute;
    z-index: 1;
    font-size: 25px;
    text-align: center;
    color: black;
    border: 1px solid #383533;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    right: 0;
    cursor: pointer;
}

.slick-carousel button .slick-next {
    position: absolute;
    z-index: 1;
    font-size: 25px;
    text-align: center;
    color: black;
    border: 1px solid #383533;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    right: 0;
    cursor: pointer;
}

.slick-carousel .slick-prev {
    left: 300px;
    top: 156%;
}

.slick-carousel .slick-next {
    left: 435px;
    top: 156%;
}

.slick-next i {
    text-align: center;
    font-size: 40px;
}

.slick-prev i {
    font-size: 40px;
    text-align: center;
}

.slick-prev:before {
    display: none;
}

.slick-next:before {
    display: none;
}

.animate-slide-left {
    animation: slide-left 1s ease-in-out forwards;
}

.animate-slide-right {
    animation: slide-right 1s ease-in-out forwards;
}

@keyframes slide-left {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-right {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.main-relative {
    height: 502px;
}

.profeshional-list {
    width: 580px;
}

.icon-corner-icon {
    font-size: 25px !important;
    font-weight: 100;
    color: #383533;
}

.worked-header {
    border-bottom: 1px solid #cdcdcd;
}


/* appoinment request */

.input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(65, 60, 59, 0.3);
}

::-webkit-calendar-picker-indicator {
    display: none;
}

select {
    appearance: none;
    background-image: url("../images/down-select.png");
    background-repeat: no-repeat;
    background-position: right 0.7em top 50%;
    background-size: auto;
    padding-right: 2.5em;
}

.worked-header {
    position: relative;
}

.worked-header:hover::before {
    content: "";
    display: block;
    position: absolute;
    left: calc(-167.5px + 50%);
    /* set the left value to position the image in the center of the cursor */
    top: calc(-126px + 50%);
    /* set the top value to position the image directly below the cursor */
    width: 335px;
    height: 172px;
    background-image: url("../images/worked-header-img-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1;
    z-index: 1;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
}

.worked-header:hover::after {
    content: "";
    display: block;
    position: absolute;
    left: calc(-167.5px + 50%);
    /* set the left value to position the image in the center of the cursor */
    top: calc(-86px + 50%);
    /* set the top value to position the image directly below the cursor */
    width: 335px;
    height: 172px;
    background-image: url("../images/worked-header-img-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1;
    z-index: 1;
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
}

.worked-header::after {
    content: "";
    display: block;
    position: absolute;
    left: calc(-167.5px + 50%);
    /* set the left value to position the image in the center of the cursor */
    top: calc(-86px + 50%);
    /* set the top value to position the image directly below the cursor */
    width: 335px;
    height: 172px;
    background-image: url("../images/worked-header-img-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1;
    z-index: 1;
    transform: scale(0);
}

@media screen and (max-width: 768px) {
    .top-footer>div:nth-child(1),
    .top-footer>div:nth-child(2),
    .top-footer>div:nth-child(3) {
        width: 100%;
    }
    .accord-head {
        font-size: 22px !important;
    }
    #accordion::before {
        content: "";
        display: none;
    }
    .accordion-content {
        padding: 20px 30px 20px 0px;
    }
}